<p-card header="Login" class="login-form-card">
    <form class="login-form">
        <span class="p-input-icon-left">
            <i class="pi pi-user"></i>
            <input class="input-standard" type="email" pInputText /> 
        </span>
        <span class="p-input-icon-left">
            <i class="pi pi-lock"></i>
            <input class="input-standard" type="password" pInputText />
        </span>
        <button pButton pRipple label="Enter" class="p-button login-button"></button>
    </form>
</p-card>
