[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
psycopg2 = "*"
django-cors-headers = "*"
pyyaml = "*"
uritemplate = "*"

[dev-packages]

[requires]
python_version = "3.8"
